*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "General Sans";
}
#minicircle{
    width: 10px;
    height: 10px;
    background-color: #fff;
    z-index: 99999;
    position: absolute;
    border-radius: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#main{
    background-color: black;
    width: 100%;
    
}
#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
    color: azure;
     }
#nav{
    width: 100%;
    padding: 20px 40px;
    color: white;
    display: flex;  
    justify-content: space-between;
   
 }   
#nav a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 5000;
}
#heading h1{
    
    opacity: 0.6;
    line-height: 1;
    font-size: 9vw;
    font-weight: bolder;
}
#heading{
    margin-top: 70px;
    margin-left: 40px;
    position: relative;
}
#head2 {
    margin-left:20vw;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
   
}
#head2 h5{
    text-align: right !important;
    font-size: 1vw;
    
}
#headmid{
    margin-top: 120px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#headmid h5{
    text-align: right;
    margin-top: 5px;
    font-size: 1vw;
}
#headfooter{
    width: 100%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 5px;

}
#iconset{
    display: flex;
    gap: 0.5vw;
    justify-content: space-around;
    margin-right: 2.5vw;   
}
#headfooter a{
    text-decoration: none;
    color: #fff;
    margin-left: 40px;
}
#iconset .circle1{
    display: flex;
    margin-right: 0.2vw;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    gap: 0.2vw;
    color: black;
    font-weight: bolder;
}


.elem{
    width: 100%;
    height: 25vh;
   
   margin-left: 40px;
    
   margin-bottom: 0%;
   padding-top: 5%;
   padding-bottom: 5%;
   display: flex;
   border-top: 1px solid #888;
   color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}
#second {
    padding-right: 10vw;
    margin-top: 30vw;
    background-color: black;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
   
}
.elemlast{
    
   margin-bottom: 15vw;
    border-bottom: 1px solid #888;

}
.elem h1{
    padding-left: 1vw;
    font-size: 7vw;
    opacity: 0.7;
}
.elem h5{
    
    padding-right: 0;
    font-size: 0.8vw;
}
.elem img{
   
    opacity: 0;
    position: absolute;
    z-index: 999;
    width: 28vh;
    height: 120%;
   
}

#about{
    width: 100%;
    color: #fff;
    display: flex;
    padding: 15vw 5vh;
    
    height: 100vh;
    align-items: center;
    
    gap: 30px;
}
#about #image img{
    height: 14vw;
    width: 14vw;
    border-radius: 50%;
    margin-left: 30vw;
    
}
#tabout #text{
    margin-right: 10vw;
    margin-left: 15px;
    font-size: 0.9vw;
    opacity: 0.7;

}
#tabout #lettalk {
    
    margin-top: 12px;
    margin-left: 15px;
    font-size: 0.9vw;
    
    
   
}
#lettalk a{
    padding: 2px;
    text-decoration: none;
    opacity: 0.8;
    color: #fff;
    border :1px solid #fff ;
    border-radius: 50px;
    font-weight: bolder;
}
#subscribe{
    
    width: 100vw;
   
    color: #fff;
    padding-bottom: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#subscribe a{
    
    font-weight: bolder;
    color: #fff;
    background-color: black;
    width: 20%;
    text-decoration: none;
    
    
    height: 20%;
   
    
}
#subscribe #book{
    height: 20%;
    border: 2px white solid;
    transition: all 0.5s linear 0.1s;
    text-align: center;
    border-radius: 40%;
    border-left: none;
    border-right: none;
}

#subscribe #book:hover{
    width: 20%;
    font-size: 1.5vw;
    height: 40%;
    border: none;

    
}

#footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    color: #fff;
    padding-bottom: 0;
    margin-bottom: 0;
    
}
#footerleft{
    padding: 30px;
    display: flex;
    gap: 20px;
}
#footerright{
    padding-right: 20px;
    display: flex;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
#footerright a{
    color: #fff;
    text-decoration: none;
    
}

#footerright img{
   
    align-items: center;
    margin-left: 4px;
    margin-right: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;

}
.attach{
    display: flex;
    align-items: center;
}

.bounding{
    width: fit-content;
   
    overflow: hidden;
}
.bounding .boundingelem{
    transform: translateY(100%);
}

#time{
    display: flex;

}